.cardContainer{
    background: radial-gradient(rgba(115, 104, 104, 0.641), rgb(49, 40, 40));
    border-radius: 4.5rem;
    height: 28rem ;
    width: 23rem;
    box-shadow: 5px 5px 5px #affc41;
}

.divimage{
    border-radius: 6rem;
    width: 250px;;
    height:250px;
    transition: all 300ms;
    box-shadow: 5px 5px 5px #affc41;
    margin-bottom: 10px;
    margin-left: 3rem;
    margin-top: 1rem;
    padding: 0.1rem;
    display: flex;
    flex-direction: column;

}