.cardContainer {
    background-color: rgba(128, 0, 0, 0.7);
    height: 10rem;
    width: 30rem; 
    display: flex;
    align-items: center;
    justify-content: center; 
    color: white;
    margin: 30px 0 40px 475px;
  }
  
    .divimage {
      border-radius: 50%;
      width: 120px;
      height: 120px;
      transition: all 300ms;
      margin-right: 2rem;
      
    }
    
    .cardContainer h2 {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 1rem;
      text-decoration: none;
      color: white;
      font-family: 'Courier New', Courier, monospace;
      text-align: left;
    }   .cardContainer h2:hover {
      color: yellow;
    }
    
    .cardContainer h3 {
      font-size: 1rem;
      margin: 0.5rem 0;
      font-family: 'Courier New', Courier, monospace;
      text-align: left;
    }
  
    span{
      color: rgb(255, 167, 167);
    }