.divbody{
    min-height: 72vh;
    height: auto;
    background-image: url("../Home/background-image.png");
}

.divcontainer {
    min-height: 72vh;

    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-color: #0c0c0ee7;
    background-blend-mode: soft-light;
    background-attachment: fixed;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title{
    margin: 60px 0 40px 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.divBtnContainer {
    margin: 40px 0 0 0;
    padding-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butom{
    width: 120px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    border-color: #800000;
    border-width: 3px;
    border-radius: 10px;
    background-color: white;
    color: #800000;
    font-weight:600;
    margin: 0 40px 150px 0;
    cursor: pointer;
     -webkit-transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
  transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
}
.butom:hover{
    cursor: pointer;
    color: whitesmoke;
    background-color: #800000;
    border-color: #800000;
    box-shadow: 0 0 40px 40px #800000 inset;
}
.divButomCargar{
    justify-content: center;
   display: flex;
}

label {
    color: #ffff;
    margin: 0 20px 0 0;
}

input:focus{
    box-shadow: 0 0 0 2pt #ae0e30 !important;
    transition: all 200ms ease-in;
}