.butom{
    border-radius: 8px;
    height: 2.7rem;
    width: 10rem;
    background-color: white;
    color: #029d36;
    border-color: #029d36;
    margin-left: 10px;
   
}
.butom:hover{
    background-color: #D0DB97;
    color: rgb(30, 101, 56);
    height: 3rem;
    transition: 8ms;
    cursor: pointer;
   
}
.buttomDiv{
    align-items: center;
    text-align: center;
    margin-top:  2rem;
    justify-content: center;
    display: flex;
    margin-bottom: 5rem;
   
}
.labelNumbers{
font-size: 1.5rem;

}
.label{
font-size: 1.8rem;
font-family:'Times New Roman', Times, serif;
font-weight: bold;
}
.contenedor{
    width: 40rem;
    margin-left: 7rem;
}
.containerImgandLabel{
display: flex;
}
.img{
    border-radius: 3rem;
    box-shadow: 0 0 .2rem #ff006e, 0 0 .1rem #ff006e, 0 0 .8rem #ff006e;
    height: 40rem;
    width: 100%;
    padding: .1rem;
}
.titleANDname{
   align-items: center;
   justify-content: center;
   width: 100%;
   background: rgb(43,46,29);
   background: linear-gradient(0deg, rgba(43,46,29,0.020045518207282953) 8%, rgba(190,221,44,1) 56%);
   text-align: center;
}