.cardsContainer{

    justify-content: space-around;
    padding: 1rem;
    position: relative;
    gap: 1rem;
    margin: 1rem;
    display:grid;
    overflow: hidden;
    font-family: "Times New Roman", Times, serif;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: .5rem;
    grid-row-gap: 2rem;
    justify-items: center;
    border-radius: .5rem;
    color: black;
    


}

.nose{
    align-items: center;
    margin: 1%;
    margin-left: 1px;
}
