
@media screen and (max-width: 300px) and (min-width: 720px){
    .divContainer{
       justify-content: center; 
    }
    
}

@media screen and (max-width: 300px) and (min-width: 720px) {
    .buttomDiv{
        height: 5rem; 
        align-items: center;
        text-align: center;
        margin: 0%;
    }
    
}

.nav{
    margin: 0 0px 0 200px;
} .nav .buttom{
    display: inline-block;
    position: relative;
    color: white;
    width: 220px;
    height: 40px;
    background-color: rgba(128, 0, 0);
    border:none;
    font-family: 'Inter', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    
} .nav .buttom:hover{
    font-size: 20px;
    cursor: pointer;
    font-weight: bolder;
    margin: 0 0 7px 0;
} .nav .buttom::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    top: 40px;
    left: 20px;
    height: 5px;
    width: 180px;
    background: white;
    transform-origin: right;
    transform: scale(0);
    transition: 0.2s ease-in-out;
} .nav .buttom:hover::after{
    transform-origin: left;
    transform: scale(1);
}