.button{
    width: 110px;
    height: 32px;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    border-color: #800000;
    border-width: 3px;
    border-radius: 10px;
    background-color: white;
    color: #800000;
    font-weight:600;
    margin: 0 20px 150px 0;
    cursor: pointer;
    
     -webkit-transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
  transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
}.button:hover{
    cursor: pointer;
     color: whitesmoke;
     background-color: #800000;
     border-color: #800000;
     box-shadow: 0 0 40px 40px #800000 inset;
 }